.membership-card {
    max-width: 540px;
    height: 640px;
    background-color: var(--color-dark-blue);
    padding: 70px;
    user-select: none;
    position: relative;

    button {
        position: absolute;
        bottom: 80px;
    }

    @include tablet {
        .membership-card__description {
            p {
                font-size: 15px !important;
            }
        }

        .membership-card__item {
            font-size: 15px;
        }

        button {
            bottom: 50px;
        }
    }

    @include mobile-s {
        .membership-card__description {
            p {
                font-size: 13px !important;
            }
        }

        .membership-card__item {
            font-size: 12px;
        }
    }

    &__title {
        margin-bottom: 34px;
        text-align: center;
        @include fluid-text(40, 30);
    }

    &__description {
        p {
            font-size: 18px !important;
        }
        margin-bottom: 16px;
    }

    &__list {
        list-style-type: disc;
        transform: translateX(20px);
    }

    &__item {
        font-weight: 400;
        font-size: 18px;
        color: rgba(239, 237, 232, 0.65);
    }
}

.membership-card-light {
    background-color: var(--color-dark-blue-alt);

    button {
        position: absolute;
        bottom: 75px;
    }

    @include tablet {
        button {
            bottom: 45px;
        }
    }
}

.membership-card__button {
    height: 30px;
    max-width: 150px;
    border-radius: var(--border-radius-small);
    border: none;
    background-color: var(--color-aqua);
    color: #fff;
    font-weight: 600;
    padding: 5px 15px;
    cursor: pointer;

    @include hover {
        transform: scale(1.1);
    }
}
