:root {
    --color-dark: #171717;
    --color-dark-alt: #303030;
    --color-grey: #4f5261;
    --color-dark-blue: #232532;
    --color-dark-blue-alt: #323443;
    --color-red: #e6533c;
    --color-purple: #7a29dc;
    --color-light: #fafaf9;
    --color-orange: #ef8964;
    --color-orange-alt: #efa082;

    --border-radius: 12px;
    --border-radius-small: 10px;

    --font-family-base: 'Inter', sans-serif;

    --container-width: 1240px;
    --container-padding-x: 20px;

    --section-padding-y: 100px;

    --cards-height: 190px;
    --biling-cards-height: 640px;

    --transition-duration: 0.2s;
}